<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Happy School</h1>
<table width="100%" border="1">

    <tr>
        <th><h2>Inputs</h2></th>
        <th><h2>Reports</h2></th>
    </tr>
    <tr>
        <td>
            <h3>  <a href="entry/student">Add Student</a></h3>
        <a href="entry/subject"><h3>Add Subject</h3></a>
        <a href="entry/classes"><h3>Add Class</h3></a>
        <a href="entry/teacher"><h3>Add Teacher</h3></a>
        <a href="entry/relation"><h3>Grad Results</h3></a>
        <a href="entry/tcs"><h3>Add Teacher To Subject And Class</h3></a>
        <a href="entry/sts"><h3> Teacher Set Grade </h3></a>
        </td>
        <td>
            <h3> <a href="report/students/simple">Find Students By Class</a> </h3>
            <h3>  <a href="report/students/grade">Find Student Total Grade By Class</a> </h3>
        </td>
    </tr>
</table>


</body>
</html>